<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <appSettings>
        <add key="update-check-branch-base-uri" value="https://api.bitbucket.org/2.0/repositories/sk_0520/nkit/refs/branches" />
        <add key="update-check-branch-target-name" value="master"/>
        <add key="update-check-branch-hash-pattern" value='"hash"\s*:\s*"(?&lt;HASH&gt;[a-f0-9]{40})"'/>
        <add key="update-check-branch-hash-pattern-options" value="IgnoreCase, IgnorePatternWhitespace, ExplicitCapture"/>
        <add key="update-check-branch-hash-pattern-key" value="HASH"/>
        <add key="update-check-version-base-uri" value="https://bitbucket.org/sk_0520/nkit/raw" />
        <add key="update-check-version-file-path" value="Source/NKit.Manager/Properties/AssemblyInfo.cs" />
        <add key="update-check-version-file-pattern" value='\s*\[\s*assembly\s*:\s*AssemblyVersion\s*\(\s*"(?&lt;VERSION&gt;\d+(\.\d+(\.(\d+|\*)(\.(\d+|\*))?)?)?)"\s*\)\s*\]\s*'/>
        <add key="update-check-version-file-pattern-options" value="IgnoreCase, IgnorePatternWhitespace, ExplicitCapture"/>
        <add key="update-check-version-file-pattern-key" value="VERSION"/>
    </appSettings>
</configuration>
