<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <appSettings file="NKit.user.config">

        <add key="app-website" value="http://content-type-text.net/"/>
        <add key="app-development" value="https://bitbucket.org/sk_0520/nkit"/>
        <add key="app-forum" value="https://groups.google.com/forum/#!forum/nkit-forum"/>


        <add key="log-timestamp-format" value="${YYYY}-${MM}-${DD}T${hh24}:${mm}:${ss}.${fff}"/>
        <add key="log-view-limit" value="5000"/>

        <add key="update-check-uri-append-random" value="true" />
        <add key="update-check-branch-base-uri" value="https://api.bitbucket.org/2.0/repositories/sk_0520/nkit/refs/branches" />
        <add key="update-check-branch-target-name" value="master"/>
        <add key="update-check-branch-hash-pattern" value='"hash"\s*:\s*"(?&lt;HASH&gt;[a-f0-9]{40})"'/>
        <add key="update-check-branch-hash-pattern-options" value="IgnoreCase, IgnorePatternWhitespace, ExplicitCapture"/>
        <add key="update-check-branch-hash-pattern-key" value="HASH"/>
        <add key="update-check-branch-timestamp-pattern" value='"date"\s*:\s*"(?&lt;TIMESTAMP&gt;(\d{4})-(\d{2})-(\d{2})T(\d{2})\:(\d{2})\:(\d{2})([+-](\d{2})\:(\d{2}))?)"'/>
        <add key="update-check-branch-timestamp-pattern-options" value="IgnoreCase, IgnorePatternWhitespace, ExplicitCapture"/>
        <add key="update-check-branch-timestamp-pattern-key" value="TIMESTAMP"/>
        <add key="update-check-version-base-uri" value="https://bitbucket.org/sk_0520/nkit/raw" />
        <add key="update-check-version-file-path" value="Source/NKit.Manager/Properties/AssemblyInfo.cs" />
        <add key="update-check-version-file-pattern" value='\s*\[\s*assembly\s*:\s*AssemblyVersion\s*\(\s*"(?&lt;VERSION&gt;\d+\.\d+(\.\d+(\.\d+)?)?).*?"\s*\)\s*\]\s*'/>
        <add key="update-check-version-file-pattern-options" value="IgnoreCase, IgnorePatternWhitespace, ExplicitCapture"/>
        <add key="update-check-version-file-pattern-key" value="VERSION"/>
        <add key="update-check-download-base-uri" value="https://api.bitbucket.org/2.0/repositories/sk_0520/nkit/downloads" />
        <add key="update-check-download-name-format" value="NKit_${MAJOR}-${MINOR}-${BUILD}_${PLATFORM}.zip" />
        <add key="update-check-download-uri-pattern" value='"href"\s*:\s*"(?&lt;URI&gt;https?://[a-z0-9\.\-_\/&amp;\^\$#]*?${FILENAME})"'/>
        <add key="update-check-download-uri-pattern-options" value="IgnoreCase, IgnorePatternWhitespace, ExplicitCapture"/>
        <add key="update-check-download-uri-pattern-key" value="URI"/>
        <add key="update-release-note-base-uri" value="https://bitbucket.org/sk_0520/nkit/raw"/>
        <add key="update-release-note-file-path-format" value="Source/NKit.Manager/doc/release-notes/ver_${MAJOR}-${MINOR}-${BUILD}.md" />
        <add key="update-leave-archive-count" value="5" />

        <add key="issues-base-uri" value="https://bitbucket.org/sk_0520/nkit/issues" />

        <add key="test-execute-wait" value="0.00:05:00" />
    </appSettings>
</configuration>
