<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".config" encoding="utf-8" #>
<#
    var appName = "NKit.Main";
#>
<#@ include file="$(ProjectDir)\..\..\common\T4\NKitApplication\App.user.config.tt" #>
