<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings file="NKit.Cameraman.user.config">
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />

        
        <add key="shot-delay-time" value="0.00:00:00.050" />

        <add key="camera-border-color" value="#ff0000" />
        <add key="camera-border-width" value="5" />

        <add key="scroll-delay-time" value="0.00:00:01.000" />
        <add key="scroll-internet-explorer-initialize-time" value="0.00:00:00.750" />
        <add key="scroll-internet-explorer-debug" value="false" />

        <!--
            技術的制限によりクラス指定を行う場合はタグ名が必要。
            TAG,
            TAG.CLASS
            TAG#ID
            TAG#ID.CLASS
            #ID
        -->
        <add key="hide-header-tag-class-items" value="header, #header, #header-fixed" />
        <add key="hide-footer-tag-class-items" value="footer, #footer, #footer-fixed" />
    </appSettings>
</configuration>
